[[extend 'layout.html']]
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AboutUs</title>
    <link rel="stylesheet" href="css/no.css">
    <link rel="stylesheet" href="../static/css/bulma.min.css">

</head>

<div class="section">

  <!-- two row split -->
  <div class="tile is-ancestor is-vertical has-text-centered is-mobile ">
    5 images of us
    <!-- first row -->
    <div class="tile is-parent">

      <div class="tile is-child is-3 is-primary mx-6 ">
        <img id="person1" style="border-radius: 20px; height: 100px" src="../static/images/capybara2.jpeg">
        <p>name one</p>
      </div>
      <div class="tile is-child is-3 mx-6">
        <img id="person1" style="border-radius: 20px; height: 100px" src="../static/images/capybara2.jpeg">
        <p>name one</p>
      </div>
      <div class="tile is-child is-3 mx-6">
        <img id="person1" style="border-radius: 20px; height: 100px" src="../static/images/capybara2.jpeg">
        <p>name one</p>
      </div>

    </div>

    <!-- 2nd row -->
    <div class="tile is-parent is-mobile ">

      <div class="tile is-child is-2 mx-6">
        <img id="person1" style="border-radius: 20px; height: 100px" src="../static/images/capybara2.jpeg">
        <p>name one</p>
      </div>
      <div class=" tile is-child is-2 mx-6">
        <img id="person1" style="border-radius: 20px; height: 100px" src="../static/images/capybara2.jpeg">
        <p>name one</p>
      </div>

    </div>

  </div>
</div>
