[[extend 'layout.html']]
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Team</title>
    <link rel="stylesheet" href="css/no.css">
</head>

<div class="section">
  <p class="title is-3 has-text-centered" style="margin-right: 20px;">
    Our Team
  </p>  
  <!-- split into row 1 and row 2 -->
  <div class="rows is-half has-text-centered mx-6 is-mobile">
    <!-- row 1 -->
    <div class="columns is-thirds">
      <!-- tile 1, image, name below -->
      <div class="column mx-6">
        <img id="person1" style="border-radius: 20px; height: 200px" src="../static/images/jen.jpg">
        <p style="text-align: center;">Jennifer</p>
      </div>
      <!-- tile 2, image, name below -->
      <div class="column mx-6">
        <img id="person2" style="border-radius: 20px; height: 200px" src="../static/images/steven.jpeg">
        <p style="text-align: center;">Steven</p>
      </div>
      <!-- tile 3, image, name below -->
      <div class="column mx-6">
        <img id="person3" style="border-radius: 20px; height: 200px" src="../static/images/daphne.jpg">
        <p style="text-align: center;">Daphne</p>
      </div>
    </div>

    <!-- row 2 -->
    <div class="columns is-half is-mobile">
      <div class="column is-half">
        <!-- tile 4, image, name below -->
        <div class="mx-6">
          <img id="person4" style="border-radius: 20px; height: 200px" src="../static/images/austin.jpg">
          <p style="text-align: center;">Austin</p>
        </div>
      </div>
      <div class="column is-half">
        <!-- tile 5, image, name below -->
        <div class="mx-6">
          <img id="person5" style="border-radius: 20px; height: 200px" src="../static/images/alex.jpg">
          <p style="text-align: center;">Alex</p>
        </div>
      </div>
    </div>
  </div>
</div>
