[[extend 'layout.html']]
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="stylesheet" href="css/no.css">
</head>

<div class="section">
  <p class="title is-3">
    Capybara Fact
  </p>  
  <!-- image and fun fact will be here -->
  <div class="is-centered">
    <img id="fact-image" style="height: 60vh; width: auto" class="is-mobile" src="" alt=""/>
    <p class="fact-text text-is-centered" id="fact-text"></p>
  </div>

  <div class="buttons is-centered">
    <button class="button is-info" onclick="displayRandomFact()">Fact</button>
  </div>


  </div>
  
  <script>
    let facts = [];

    // Fetch the facts from the API endpoint and store them in the "facts" array
    fetch("https://api.capy.lol/v1/facts")
      .then(response => response.json())
      .then(data => {
        facts = data.data;
      })
      .catch(error => {
        console.error("Error loading facts:", error);
      });

    function displayRandomFact() {
      if (facts.length === 0) {
        alert("Facts are still loading. Please try again later.");
        return;
      }

      const randomIndex = Math.floor(Math.random() * facts.length);
      const fact = facts[randomIndex];

      const factImage = document.getElementById("fact-image");
      const popup = document.getElementById("popup");
      const factText = document.getElementById("fact-text");

      
      const randomIndex2 = Math.floor(Math.random() * 100) + 1;
      factImage.src = `https://api.capy.lol/v1/capybara/${randomIndex2}`;
      factImage.alt="Capybara Image"
      factText.textContent = fact;
    }
  </script>
</section>
