[[extend 'layout.html']]

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form</title>
  <link rel="stylesheet" href="css/no.css">
</head>

<div>
   <form action="https://formspree.io/f/xpzegkdd" method="POST">
  <label for="fullname">Your Full Name:</label>
  <input type="text" id="fullname" name="fullname">

  <label for="fullname">Location:</label>
  <input type="text" id="location" name="location">

  <label for="email">Your Email:</label>
  <input type="email" id="email" name="email">
  
  <label for="message">Your Message:</label>
  <textarea id="message" name="message"></textarea>

  <button type="submit">Send</button>
</form>
</div>