[[extend 'layout.html']]

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OnlyCapys</title>
  <link rel="stylesheet" href="css/no.css">
</head>

<div class="section">
  <div class="columns is-mobile">
    <div class="column is-half is-mobile">
      <div class="block">
        <img id="map" style="border-radius: 20px;" src="../static/images/tempmap.png">
      </div>
      <div>
        <!--empty space-->
      </div>
      something
    </div>

    <div class="colum is-mobile">
      <h1 class="title is-size-3">Locating Capybaras near you easy, fast, and frictionless.</h1>
    </div>

  </div>