[[extend 'layout.html']]
<div class="section" id="vue-target" v-cloak>
    [[=form]]
    <div class="box" v-for="fact in facts">
        <nav class="level is-mobile">
            <div class="level-left">
                  <span class="icon is-small">
                    <i class="fa fa-user"></i>
                  </span>
                  <span class="ml-2">{{fact.username}}</span>
        </nav>
        <div class="content">
            {{fact.facts}}
          </div>
       
    </div>
</div>

    

<script>
    let get_capyfacts_url = "[[=XML(get_capyfacts_url)]]";
 
</script>
